<h2>Chatroom: {{room_name}}</h2>
<!--<meta http-equiv="refresh" content="5" >-->

<textarea rows="10" cols="80" id="chatHistory">
{%  for message in chat_messages %}
user:{{message.user}}[{{message.created_on}}]
{{message.content}}
{% endfor %}
</textarea>

<textarea rows="3" cols="80" placeholder="Write a new message..." id="messageToSend">
</textarea>
<button onclick="postMessage()">SendMessage</button>

<script>
    user_token = '{{ token }}'
    document.user_token = user_token;
    function postMessage() {
		let messageContent = document.getElementById('messageToSend').value;
		const data = JSON.stringify({
			"room": "default",
			"content": messageContent
		});
		const xhr = new XMLHttpRequest();
		xhr.withCredentials = true;
		xhr.addEventListener("readystatechange", function () {
		  if (this.readyState === this.DONE) {
		    fetchMessages();
		  }
		});
		xhr.open("POST", "http://localhost:8000/api/chat/messages/");
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.setRequestHeader("Authorization", `Token ${user_token}`);
		xhr.send(data);
		document.getElementById('messageToSend').value = '';
    }

    function fetchMessages() {
        fetch("http://localhost:8000/api/chat/messages/?chat_room=default", {
          "method": "GET",
          "headers": {
            "Authorization": `Token ${document.user_token}`
          }
        })
        .then(response => response.json())
        .then(data => {
            const formattedRecords = data.map((datum)=> {
                return `user:${datum.user}:${datum.created_on}\n${datum.content}\n`;
            });
            document.getElementById('chatHistory').value = '';
            document.getElementById('chatHistory').value += formattedRecords.join('\n');
        })
        .catch(err => {
            console.error(err);
        });
    }
</script>