<h2>Chatroom: {{room_name}}</h2>
<!--<meta http-equiv="refresh" content="5" >-->

<textarea rows="10" cols="80">
    {%  for message in chat_messages %}
    user:{{message.user}}[{{message.created_on}}]
    {{message.content}}
    {% endfor %}
</textarea>

<textarea rows="3" cols="80" placeholder="Write a new message..." id="messageToSend">
</textarea>
<button onclick="postMessage()">SendMessage</button>

<script>
    user_token = '{{ token }}'
    document.user_token = user_token;
    console.log('>>>>>>>>>>>>>>>>>>>>>>>', user_token);
    function postMessage() {
		let messageContent = document.getElementById('messageToSend').value;
		const data = JSON.stringify({
			"room": "default",
			"content": messageContent
		});
		const xhr = new XMLHttpRequest();
		xhr.withCredentials = true;
		xhr.addEventListener("readystatechange", function () {
		  if (this.readyState === this.DONE) {
		    location.reload();
		  }
		});
		xhr.open("POST", "http://localhost:8000/api/chat/messages/");
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.setRequestHeader("Authorization", `Token ${user_token}`);
		xhr.send(data);
		document.getElementById('messageToSend').value = '';
    }
</script>